  /*手机电脑通用*/
   a {
    font-weight: bold;
  }

  a:link {
    color: navy;
  }

  a:hover {
    text-decoration: none;
  }

  nav {
    background-color: navy;
    color: white;
  }

  nav a {
    display: inline-block;
    width: 20%;
    color: white;
  }

  nav a:hover {
    color: white;
  }

  img {
    display: block;
    margin: 0 auto;
  }
  
  /*电脑端优先*/
  
  p {
      width: 80%;
      margin: 0 auto;
      font-size: 18px;
      color: black;
      font-family: "SimSun";
      line-height: 1.5;
      text-indent: 2em;
      padding: 25px
   }

.story {
    width: 60%;
    font-size: 18px;
    background-color: aliceblue;
    margin: 0 auto;
    padding: 25px
    }
  
  /* 设置手机上字号的大小 */
 @media (max-width: 600px) {
  p {
    font-size: 30px;
    text-indent: 2em;
    box-sizing: border-box;
    width:100%
  }

  /* 结果输出框 */
  .story {
    font-size: 30px; 
    box-sizing: border-box;
    width:100%
  }

  nav a {
    font-size: 20px;
  }
  }

