  /*手机电脑通用*/
   a {
    font-weight: bold;
  }
section{
    background-color: aliceblue;
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
    border: 1px solid #ccc;
    
}
  a:link {
    color: navy;

  }
hr{
  width:50%;
}
  a:hover {
     text-decoration: none;
  }

  nav {
    background-color: navy;
    color: white;
  }

  nav a {
    display: inline-block;
    width: 20%;
    color: white;
    text-decoration: none;
  }
  
h1{
  color:navy;
  text-align: center;
  font-family: "Microsoft YaHei";
}

.summary{
  margin: 0 auto;
  font-size: 16px;
  width:70%;
}

.note{
  margin: 0 auto;
  font-size: 16px;
  width:70%;
}
  nav a:hover {
    color: white;
    text-decoration: underline;
  }

  img {
    display: block;
    margin: 0 auto;
  }
  
  /*电脑端优先*/
 article{
      width: 80%;
      margin:0 auto;
      font-size: 18px;
      color: black;
      font-family: "SimSun";
      line-height: 1.5;
      text-indent: 2em;
  }
  section{
    width:60%;
  }
  p {
      margin-top: 1em;
      margin-bottom: 1em;
     
   }

.story {
    width: 60%;
    background-color: aliceblue;
    margin: 0 auto;
    line-height: 1.5;
    padding: 25px
    }
    
 blockquote {
  text-indent: 2em;
  margin:10% auto;
  margin-top: 1em;
  line-height: 1.5;
  margin-bottom: 1em;
  padding-left: 5%;
  border-left: 3px solid #ccc;
}

  
  /* 设置手机上字号的大小 */
 @media (max-width: 1279px) {
article{
      font-size: 30px;
      line-height: 1.5;
      text-indent: 2em;
      width:100%;
      
  }
  p {
    box-sizing: border-box;

  }
  
  h1{
    font-size: 35px;
  }
  .summary{
    font-size: 25px;
    width:80%;
  }
 .note{
    font-size: 25px;
    width:80%;
  }
  
  input[type="button"], input[id="customname"] {
  font-size: 30px;
}
  
  nav{
    font-size: 25px;
  }

  blockquote {
  margin-left:5%;
  border-left: 3px solid #ccc;
}

  /* 结果输出框 */
  .story {
    font-size: 30px; 
    padding:1em;
    box-sizing: border-box;
    width:100%;
  }
  
section{
  margin:1em auto;
  padding:1em;
  font-size: 25px; 
  width: calc(100% - 4em);
    
}
  }

